/* Primary Stles - author: Yane Frenski */

@font-face {
    font-family: "League";
    font-weight: normal;
    src: url("League-Gothic.otf");
}

body{
  background:#26272b;
}

h1{
  margin: auto;
  width: 200px;
  margin-top: 50px;
}

h1 span{
  display: none;
}

h2{
  font-size: 14px;
  font-weight: normal;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: #a0a0a0;
  margin: auto;
  margin-bottom: 50px;
  width: 200px;
}

h3{
  font-family: League, Impact, Helvetica, Arial;
  font-size: 36px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  margin:0 0 20px 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  margin:20px 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.float{
  float: left;
}

.clear{
  clear: both;
}

.column_big{
  width: 200px;
  text-align: center;
}

.separator_big{
  width: 50px;
  background: url('../img/separator_big.png') repeat-y top center;
  height: 350px;
}

#content {
  width: 450px;
  margin: auto;
}


