/**
 * a style for the scenes - @author Yane Frenski
 */

 @font-face {
     font-family: "League";
     font-weight: normal;
     src: url("League-Gothic.otf");
 }

body {
  margin: 0px;
  background-color: #000000;
  overflow: hidden;
}

h3{
  font-family: League, Impact, Helvetica, Arial;
  font-size: 36px;
  font-weight: normal;
  color: #26272b;
  text-transform: uppercase;
  margin:10px;
  text-align:left;
  border-bottom: 1px solid #26272b;
}

#div-waitbox{
  display:none;
}

.datadialog .ui-dialog-titlebar {display:none}

#div-controls{
  position: absolute;
  width: 100px;
  height: 150px;
  padding: 10px;
  background: #26272b;
  z-index: 10;
}

#div-controls ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#div-controls ul li{
/*  font-size: */
  margin: 10px 5px;
}

.separator_big_h{
  height: 20px;
  background: url('../img/separator_big_h.png') repeat-x left center;
}